<h2> Blues! </h2>
<ul>
  <% colors.forEach((color) => { %>
    <% if (color.category==="blue") { %>
    <li>
      <div class="displaybox" style="background-color: <%= color.hex %>"></div>
      <%= color.keyword %>
      <%= color.hex %>
    </li>
    <% } %>
  <% }) %>
</ul>
