  <h2> Welcome to the Super Duper Web Color App! </h2>
  <p> This app has all the common colors that can be implemented
    on the websites. Need a color? We got it! You can view specific colors,
    or be givena random color. Have fun! </p>
