<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Colors App</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1> Web Colors App </h1>
      <nav>
       <a href="/">Home</a>
       <a href="/allcolors">All Colors</a>
       <a href="/random">Random Color</a>
       <div class = "dropdown">
         <button class="drop_btn"> Colors &#9662; </button>
         <div class="drop-content">
           <% colorsArray.forEach((colorCategory) => { %>
             <a href="/category?cat=<%=colorCategory%>"> <%= titleCap(colorCategory) %> </a>
           <% }) %>
         </div>
      </div>
      </nav>

    </header>

    <%- body %>

    <footer>

    </footer>

    <script src="/js/front.js"></script>
  </body>
</html>
