<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Colors App</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1> Web Colors App </h1>
      <nav>
       <a href="/">Home</a>
       <a href="/allcolors">All Colors</a>
       <a href="/blue">Blues</a>
       <a href="/orange">Oranges</a>
       <a href="/purple">Purple</a>
       <a href="/random">Random Color</a>
      </nav>
    </header>

    <%- body %>

    <footer>

    </footer>

    <script src="/js/front.js"></script>
  </body>
</html>
