<h2> RandomColor </h2>
<ul>
  <% let color =  colors[randomIndex] %>
    <li class="big">
      <div class="displaybox" style="background-color: <%= color.hex %>"></div>
      <%= color.keyword %>
      <%= color.hex %>
    </li>

</ul>
